@media screen and (max-width:480px) {
    .row{
        flex-direction: column;
        align-items: center;
    }
    .container{
        width: 100%;
    }
    .lessons .col{
        width: 100%;
    }
    .steps .col{
        width: 100%;
        padding: 10px;
    }
    .steps, .why-us {
        margin: 0;
    }
    .why-us {
        background-color: rgb(58, 56, 56);
    }

}

@media screen and (max-width:768px) and (min-width:479px) {
    .container{
        width: 100%;
    }
}

@media screen and (max-width:1160px) and (min-width:769px) {
    .container{
        width: 100%;
    }
}
